header.header
    .navigation
        ul.menu 
            li.nav-item
                a.nav-link(href="")
                    p Главная
                .active-el
            li.nav-item
                a.nav-link(href="")
                    p Блог
                .active-el
            li.nav-item
                a.nav-link(href="")
                    p Проекты
                .active-el
            li.nav-item
                a.nav-link(href="")
                    p Контакты
                .active-el